<div *ngFor="let l of tempList">
<div class="row">
    <div class="col-6 p-4 mx-4 my-1" style="width: 100%; height: 160px; background-color: white;">
    <h3><b>{{l.name}}</b></h3><br>
    {{l.address}}<br>
    {{l.phone}}
    </div>

</div>
</div>
<div class="row px-4 justify-content-end" style="margin-top: -20px;">
    <div class="rounded-circle bg-success p-2 mx-2 cursor-pointer" (click)="previous()"><i class="fa fa-angle-double-left"
        aria-hidden="true"></i></div>
    <div class="rounded-circle bg-success p-2 ml-2 mr-4 cursor-pointer" (click)="next()"><i
        class="fa fa-angle-double-right" aria-hidden="true"></i></div>
</div>


