.page-heading{
    font-family: serif;
    text-shadow: 5px 5px 5px black;
}
.bg-pink{
    background-color: #e9ffee;
    padding-top: 65px !important;
    min-height: 41rem;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 16px;
    background-color: rgb(191 59 59);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .selectedTabs{
    background-color: #770808;
  }
  .err{
    color: red;
  }